@import url(reset.css);
@import url(header.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(footer.css);

body {
  font-family: "Inter", sans-serif;
}
.bg_body {
  background-color: #eeeeee;
  width: 100%;
}
.frame {
  margin: 0 auto;
  width: 800px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.greenbar {
  width: 100%;
  height: 30px;
  background: #29b648;
  border-radius: 10px 10px 0 0;
}
.member {
  background-color: #fff;
  border-radius: 10px;
}
.form_frame {
  width: 600px;
  margin: 0px auto;
}
.form_frame .result_box {
  padding: 60px 0;
  text-align: center;
  margin: 100px 0 70px 0;
  border-top: 2px solid #29b648;
  border-bottom: 2px solid #29b648;
}
.form_frame .result_box h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
.form_frame .result_box h3 {
  font-size: 24px;
  font-weight: bold;
  color: #f10000;
  margin-bottom: 30px;
}
.form_frame .result_box h4 {
  font-size: 24px;
  font-weight: bold;
}
.form_frame > button {
  width: 100%;
  height: 55px;
  border: none;
  color: #fff;
  background-color: #29b648;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 100px;
}
.form_frame > button:first-of-type {
	 margin-bottom: 20px;
}
